#root{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.user{
    max-width: 150px;
    background-color: beige;
    padding: 1em;
    border: 5px solid gray;
}

.user__image{
    width: 100%;
}

.user__name{
    font-weight: bold;
    font-size: 1.2em;
}